<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Emp_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>관리자 이메일 주소 application</description>
    <param-name>email</param-name>
    <param-value>WEB_MASTER@TEAM3.COM</param-value>
  </context-param>
  <context-param>
    <description>팀 명 application</description>
    <param-name>company</param-name>
    <param-value>TEAM3</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/Error/Error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Error/Error500.jsp</location>
  </error-page>
</web-app>